<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json"/>
    <script src="registroServiceWorker.js"></script>
    <title>Formulario de Orden de Compra</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f2f2f2; /* Color de fondo */
        }

        .navbar {
            background-color: #8e44ad;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar img {
            max-width: 100px; /* Ajustar el ancho del logo */
        }

        .navbar a {
            color: #ffffff;
            text-decoration: none;
            margin: 0 10px;
        }

        .card {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 80%;
            max-width: 600px; /* Ajustar el ancho máximo de la tarjeta */
            margin: 20px auto;
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #27ae60;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px; /* Ajustar el tamaño del texto */
        }

        input[type="submit"]:hover {
            background-color: #218f54;
        }
        
    </style>
     <style>
        #preview {
          width: 300px;
          height: auto;
        }
      </style>
</head>
<body>
    <div class="navbar">
        <div>
            <img src="ruta_del_logo.png" alt="Logo">
        </div>
        <div>
            <a href="ordenes.html">Ver Órdenes de Compra</a>
            <a href="cerrar_sesion.html">Cerrar Sesión</a>
            <button onclick="solicitarPermisosNotificacion()">Solicitar Notificaciones</button>

        </div>
    </div>
     
    
    <script>
        function solicitarPermisosNotificacion() {
            if (!("Notification" in window)) {
                alert("Tu navegador no soporta notificaciones");
            } else {
                Notification.requestPermission().then(function(permission) {
                    if (permission === "granted") {
                        mostrarNotificacion();
                    } else {
                        console.log("El usuario no permitió las notificaciones");
                    }
                });
            }
        }

        function mostrarNotificacion() {
            var notification = new Notification("Solicitud de notificaciones", {
                body: "Ahora recibirás notificaciones sobre tus órdenes."
            });
        }

        function enviarOrden() {
            var notification = new Notification("Orden nueva", {
                body: "Acabas de gurardadr una nueva orden de compra."
            });
        }
    </script>
    <div class="card">
        <h2>Orden de Compra</h2>
        <form class="form" action="/registrarOrden" method="post">
            <div class="form-group">
                <label for="cliente">CLIENTE:</label>
                <input type="number" id="cliente" name="cliente">
            </div>
            <div class="form-group">
                <label for="nOrden">NUMERO DE ORDEN:</label>
                <input type="number" id="nOrden" name="nOrden">
            </div>
            <div>
                <label for="nOrden">IMAGEN DE LA ORDEN:</label>
                <input type="file" accept="image/*" capture="camera" id="fileInput">
                <img src="" id="preview" alt="Vista previa de la imagen">
            </div>
            <div class="form-group mt-3">
                <label for="fIngreso">FECHA DE INGRESO</label>
                <input type="date" id="fIngreso" name="fIngreso">
            </div>
            <div class="form-group">
                <label for="descripcion">DESCRIPCION:</label>
                <input type="text" id="descripcion" name="descripcion">
            </div>
            <div class="form-group">
                <label for="fEntrega">FECHA DE ENTREGA ESTIMADA:</label>
                <input type="date" id="fEntrega" name="fEntrega">
            </div>
            <div class="form-group">
                <label for="notas">NOTAS:</label>
                <input type="text" id="notas" name="notas">
            </div>
            <div class="form-group">
                <label for="responsables">RESPONABLES:</label>
                <input type="text" id="responsables" name="responsables">
            </div>
            <div class="form-group">
                <label for="fEntregaReal">FECHA DE ENTREGA REAL:</label>
                <input type="date" id="fEntregaReal" name="fEntregaReal">
            </div>
            <div class="form-group">
                <label for="tDiseño">TIEMPO DE DISEÑO:</label>
                <input type="text" id="tDiseño" name="tDiseño">
            </div>
            <div class="form-group">
                <label for="tProduccion">TIEMPO DE PRODUCCIÓN:</label>
                <input type="text" id="tProduccion" name="tProduccion">
            </div>
          
            <div class="form-group">
                <label for="tMaquila">TIEMPO DE MAQUILA:</label>
                <input type="text" id="tMaquila" name="tMaquila">
            </div>
           
            <button onclick="enviarOrden()" type="submit" class="btn">Guardar Orden</button>    

        </form>
    </div>
   
<script>
    const fileInput = document.getElementById('fileInput');
const preview = document.getElementById('preview');

fileInput.addEventListener('change', function(e) {
  const file = e.target.files[0];
  if (file) {
    const reader = new FileReader();
    reader.onload = function(event) {
      preview.src = event.target.result;
    };
    reader.readAsDataURL(file);
  }
});

</script>
    <script src="serviceWorker.js"></script>
</body>
</html>
